In [109]:
#importing the python pandas module
import pandas as pds

In [110]:
food_data = pds.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

food_data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [111]:
# Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?

food_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [113]:
#QUestion 12

#Answer the following questions based on the African food production dataset 
#provided by the FAO website already provided

#What is the total sum of Wine produced in 2015 and 2018 respectively?

#Hint: Perform a groupby sum aggregation on â€˜Itemâ€™

q12 = food_data.groupby('Item')['Wine']

#WIne not found jareeeeeee

q12

KeyError: 'Column not found: Wine'

In [114]:
import matplotlib.pyplot as plt

# Question 7

#What is the total Protein supply quantity in Madagascar in 2015?

# Plot a graph to identify that quickly 
# VIsualizaing th dataset will help sort things out

q7 = food_data.groupby['Y2017'].sum().sort_values()

TypeError: 'method' object is not subscriptable

In [115]:
# Question 1
q1 = food_data['Y2017']

quk.mean() #SInce mea is found in the options, why find other???
#THough, if i still intend to find that, i can just use a method for that

140.9177648602722

In [ ]:
#Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  
#Which of these Areas had the 7th lowest sum in 2017?

In [100]:
# Which year had the least correlation with â€˜Element Codeâ€™?

q6 = food_data['Element Code'].corr("pearson")

#min_correlation = correlation_matrix.min().min()

q6

#min_correlation

TypeError: unsupported type: <class 'str'>

In [81]:
# Qeustion 18
#Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  
#Which of these Areas had the highest sum in 2017?

q18 = food_data.groupby('Area')['Y2017'].sum().sort_values()

q18

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [64]:
# Question 17
# Perform a groupby operation on â€˜Elementâ€™.  
# What year has the highest sum of Stock Variation?

element = food_data.groupby('Element').sum()
element[:'Stock Variation'].sum()

Area Code                                                 8126219
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                               162165537
Item            PopulationCereals - Excluding BeerWheat and pr...
Element Code                                            229595897
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                  6933085.13
Y2015                                                  6973910.23
Y2016                                                  7027276.65
Y2017                                                  7262997.19
Y2018                                                  7413934.96
dtype: object

In [27]:


#food_data.groupby('Y2017')['Area'].sum()

no_of_array = food_data['Area'].unique()

no_of_array

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [28]:
len(no_of_array)

49

In [40]:
# QUestion 14
y = [(2, 4), (7, 8), (1, 5, 9)]

x = y[1][1]

x

8

In [116]:
#QUestion 15

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6 #Raised TypeError because tuple is a immutable.

TypeError: 'tuple' object does not support item assignment

In [50]:
# QUestion 16

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

#How do you create a pandas DataFrame using this list, to look like the table below?

df = pds.DataFrame(lst, columns=col, index = [1,2,3])

df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [29]:
food_data.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [30]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [118]:
import numpy as np

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

array[ : 1, 1 : ] #Still finding out the error here.

TypeError: list indices must be integers or slices, not tuple

In [18]:
#array[:1,1: ]

array[ : 2,2, ]

TypeError: list indices must be integers or slices, not tuple